<ion-view  view-title="DashBoard">
  <ion-content>
    <section id="body-container"  class="animation">
      <div class="conter-wrapper home-container">
        <div class="row">
          <div class="col-md-6">
            <h3>DashBoard</h3>
          </div>
          <div class="col-md-6">
            <h3 class="pull-right">
              <button type="button" class="btn btn-primary"> + Nuevo cliente</button>
              <button type="button" class="btn btn-success">+ Nuevo paciente</button>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <h3 class="panel-title">Usuarios
                  <div class="panel-control pull-right">
                    <a class="panelButton"><i class="fa fa-refresh"></i></a>
                    <a class="panelButton"><i class="fa fa-minus"></i></a>
                    <a class="panelButton"><i class="fa fa-remove"></i></a>
                  </div>
                </h3>
              </div>
              <div class="panel-body box-datos">
                <table>
                  <tbody>
                  <tr>
                    <td class="valor-box-datos">125</td>
                    <td class="valor-box-datos">48</td>
                  </tr>
                  <tr>
                    <td class="text-box-datos">Usuarios totales</td>
                    <td class="text-box-datos">Usuarios totales</td>
                  </tr>
                  <tbody>
                </table>
              </div>
            </div>

          </div>

          <div class="col-sm-4">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">Clientes
                  <div class="panel-control pull-right">
                    <a class="panelButton"><i class="fa fa-refresh"></i></a>
                    <a class="panelButton"><i class="fa fa-minus"></i></a>
                    <a class="panelButton"><i class="fa fa-remove"></i></a>
                  </div>
                </h3>
              </div>
              <div class="panel-body box-datos">
                <table>
                  <tbody>
                  <tr>
                    <td class="valor-box-datos">125</td>
                    <td class="valor-box-datos">48</td>
                  </tr>
                  <tr>
                    <td class="text-box-datos">Usuarios totales</td>
                    <td class="text-box-datos">Usuarios totales</td>
                  </tr>
                  <tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">Diagnósticos
                  <div class="panel-control pull-right">
                    <a class="panelButton"><i class="fa fa-refresh"></i></a>
                    <a class="panelButton"><i class="fa fa-minus"></i></a>
                    <a class="panelButton"><i class="fa fa-remove"></i></a>
                  </div>
                </h3>
              </div>
              <div class="panel-body box-datos">
                <table>
                  <tbody>
                  <tr>
                    <td class="valor-box-datos">125</td>
                    <td class="valor-box-datos">48</td>
                  </tr>
                  <tr>
                    <td class="text-box-datos">Usuarios totales</td>
                    <td class="text-box-datos">Usuarios totales</td>
                  </tr>
                  <tbody>
                </table>
              </div>
            </div>

          </div>

        </div>
      </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Últimos Diagnósticos
                <div class="panel-control pull-right">
                  <a class="panelButton"><i class="fa fa-refresh"></i></a>
                  <a class="panelButton"><i class="fa fa-minus"></i></a>
                  <a class="panelButton"><i class="fa fa-remove"></i></a>
                </div>
              </h3>
              <p>12 personas evaluadas</p>
            </div>
            <div class="panel-body box-diag">
              <table class="table ">
                <thead>
                <tr>
                  <th></th>
                  <th>Nombre</th>
                  <th>Empresa</th>
                  <th>Grupo</th>
                  <th>Fecha</th>
                  <th>Estatus</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>ver</td>
                  <td>John Rambo</td>
                  <td>Colegio Mayor</td>
                  <td>4° básico A</td>
                  <td>28/06/1016</td>
                  <td>En Proceso</td>
                </tr>
                <tr>
                  <td>Ver</td>
                  <td>Fredy Mercury</td>
                  <td>Merseyside, UK</td>
                  <td>4° básico A</td>
                  <td>28/06/1016</td>
                  <td>Evaluado</td>
                </tr>
                <tr>
                  <td>Ver</td>
                  <td>Janis Joplin</td>
                  <td>Southampton, UK</td>
                  <td>4° básico A</td>
                  <td>28/06/1016</td>
                  <td>Evaluado</td>
                </tr>
                <tr>
                  <td>Ver</td>
                  <td>Janis Joplin</td>
                  <td>London, UK</td>
                  <td>4° básico C</td>
                  <td>28/06/1016</td>
                  <td>Evaluado</td>
                </tr>
                <tr>
                  <td>Ver</td>
                  <td>Mario Bros</td>
                  <td>Merseyside, UK</td>
                  <td>7° básico B</td>
                  <td>28/06/1016</td>
                  <td>Evaluado</td>
                </tr>
                <tr>
                  <td>Ver</td>
                  <td>Tony Stark</td>
                  <td>Southampton, UK</td>
                  <td>5° básico A</td>
                  <td>28/06/1016</td>
                  <td>Evaluado</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Pacientes en observación
                <div class="panel-control pull-right">
                  <a class="panelButton"><i class="fa fa-refresh"></i></a>
                  <a class="panelButton"><i class="fa fa-minus"></i></a>
                  <a class="panelButton"><i class="fa fa-remove"></i></a>
                </div>
              </h2>
              <p>12 usuarios se encuentran en estado de observación</p>
            </div>
            <div class="panel-body box-diag">
              <table class="table ">
                <thead>
                <tr>

                  <th>Nombre</th>
                  <th>Empresa</th>
                  <th>Grupo</th>
                  <th>Fecha</th>
                  <th>Estado</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>John Rambo</td>
                  <td>Colegio Mayor</td>
                  <td>4° básico A</td>
                  <td>28/06/1016</td>
                  <td><span class="label label-warning">Observación</span></td>
                  <td>correo</td>
                  <td>ver</td>
                </tr>
                <tr>
                  <td>Fredy Mercury</td>
                  <td>Merseyside, UK</td>
                  <td>4° básico A</td>
                  <td>28/06/1016</td>
                  <td><span class="label label-warning">Observación</span></td>
                  <td>correo</td>
                  <td>ver</td>
                </tr>
                <tr>
                  <td>Janis Joplin</td>
                  <td>Southampton, UK</td>
                  <td>4° básico A</td>
                  <td>28/06/1016</td>
                  <td><span class="label label-danger">Crítico</span></td>
                  <td>correo</td>
                  <td>ver</td>
                </tr>
                <tr>
                  <td>Janis Joplin</td>
                  <td>London, UK</td>
                  <td>4° básico C</td>
                  <td>28/06/1016</td>
                  <td><span class="label label-danger">Crítico</span></td>
                  <td>correo</td>
                  <td>ver</td>
                </tr>
                <tr>
                  <td>Mario Bros</td>
                  <td>Merseyside, UK</td>
                  <td>7° básico B</td>
                  <td>28/06/1016</td>
                  <td><span class="label label-danger">Crítico</span></td>
                  <td>correo</td>
                  <td>ver</td>
                </tr>
                <tr>
                  <td>Tony Stark</td>
                  <td>Southampton, UK</td>
                  <td>5° básico A</td>
                  <td>28/06/1016</td>
                  <td><span class="label label-danger">Crítico</span></td>
                  <td>correo</td>
                  <td>ver</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </section>
  </ion-content>
</ion-view>
