<ion-view  view-title="Listas">
  <ion-content>

    <section id="body-container" class="animation">
      <div class="conter-wrapper home-container">
        <div class="row">
          <div class="col-md-6">
            <h3>Ficha</h3>
          </div>

        </div>
      </div>
      <!-- FICHA PECIENTE TITULO-->
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="invoice">
            <div class="row">
              <div class="col-md-6">
                <a href="#"><span class="text text-muted">&nbsp;Freddy Mercury</span></a>
              </div>
              <div class="col-md-6 text-right">
                <p class="text-dark">
                  #1233219 / 01 Jan 2014  <br><small class="text-light"> Lorem ipsum dolor sit amet </small>
                </p>
              </div>
            </div>
          </div>
          <!-- ANTECEDENTES PERSONALES -->
          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-primary">


                <div class="panel-heading">
                  <h2 class="panel-title"><strong>DIAGNÓSTICO</strong></h2>
                </div>
                <table class="table table-bordered table-striped">
                  <tbody>
                  <tr>
                    <th>
                      <label for="inputtext" class="col-sm-2 control-label">Datos Generales</label>
                    </th>
                    <td colspan="3" class="diagnostico">
                      <input type="text" class="form-control"  placeholder="Escriba aquí su diagnóstico">
                    </td>

                  </tr>
                  <tr>
                    <th>Seleccione estatus</th>
                    <td>
                      <select class="form-control">
                        <option>Apto</option>
                        <option>Con observaciones</option>
                        <option>No Apto</option>
                      </select>
                    </td>
                  </tr>
                  </tbody>
                </table>

                <div class="panel-heading">
                  <h2 class="panel-title"><strong>DIAGNÓSTICO</strong></h2>
                </div>

              </div>
            </div>
          </div>



        </div>
      </div>

    </section>


  </ion-content>
</ion-view>
